matplotlib >= 3.3.3
mne >= 1.2.0
numpy >= 1.19.4
pyriemann >= 0.3.0
scikit_learn >= 0.23.2
scikeras >= 0.8.0
scipy >= 1.4.1
tensorflow >= 2.0
python_picard >= 0.7
mne-icalabel >= 0.4
pyprep >= 0.4
autoreject >= 0.4
pandas >= 1.5.3
openpyxl >= 3.0.0
xlsxwriter >= 3.0.0
# mne-qt-browser >= 0.6.0
PyQt6 >= 6.0.0
mne-features >= 0.2.1
torch >= 2.0.0